#about-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20vh;
  margin-left: 40vh;
  margin-right: 40vh;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
  border-bottom: 3px solid rgb(252, 255, 251);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateX(-100px);
}

#about-container.loaded {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.img-container {
  flex: 0.5;
  text-align: center;
}

.img-container .mi-foto {
  border-radius: 10%;
  width: 250px;
  height: 250px;
  margin: 25px;
  margin-top: 40px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.mi-foto {
  min-height: 250px;
  min-width: 250px;
}

.description-container {
  margin-top: 40px;
  margin-right: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido al inicio del contenedor */
}

.description {
  text-align: justify;
  color: #fff;
}

.mi-descripcion-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
  justify-content: space-between;
  font-size: 20px;
}

.gato-frame {
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: -30px;
  position: absolute; /* Permite posicionar el div de forma absoluta dentro del contenedor padre */
  bottom: 0px; /* Mueve el div al borde inferior */
  right: 0; /* Mueve el div al borde derecho */
  margin-bottom: -40px;
}

.gato-frame {
  width: 150px;
  height: 150px;
  margin-left: auto;
  object-position: center;
  object-fit: cover;
}

.name-h2 {
  margin: 0;
  padding-bottom: 30px;
  color: rgb(10, 252, 14);
}

.title-container {
  display: flex;
  justify-content: center;
}

.title2 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(125, 124, 124);
  border-radius: 20px;
  padding: 10px 10px;
}
.lista-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-container ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
  margin-top: 10px;
}

.experience-logo {
  width: 60px;
  height: 60px;
  margin: 10px;
  object-fit: cover;
}

#about-Me {
  scroll-margin-top: 140px;
}

.contac-num1 {
  height: auto;
  position: absolute;
  object-fit: contain;
  width: 41px;
  margin-left: 300px;
  margin-bottom: 30px;
  border-radius: 50%;
  bottom: 0px; /* Mueve el div al borde inferior */
  left: 0; /* Mueve el div al borde derecho */
}

.contac-num2 {
  position: absolute;
  height: auto;
  object-fit: contain;
  width: 40px;
  margin-left: 360px;
  margin-bottom: 30px;
  bottom: 0px; /* Mueve el div al borde inferior */
  left: 0; /* Mueve el div al borde derecho */
  filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(500%)
    hue-rotate(180deg);
}

.contac-num1:hover {
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg);
  transition: filter 0.3s ease;
}

.contac-num2:hover {
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg);
  transition: filter 0.3s ease;
}

.show-more-button {
  background-color: #4954cf; /* Color de fondo */
  width: 200px;

  height: 40px;
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Relleno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de la fuente */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
  margin-top: 20px; /* Margen superior */
}

.show-more-button:hover {
  background-color: #577ead; /* Color de fondo al pasar el ratón */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

.show-more-button:active {
  background-color: #3a6b9a; /* Color de fondo al hacer clic */
  transform: scale(0.95); /* Reduce ligeramente el tamaño */
}

.strong-frase {
  color: #f70cfb;
}
