.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dos columnas de igual ancho */
  gap: 30px; /* Espacio entre las columnas */
  padding: 200px;
}

.ag-courses_item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  background-color: #2b2e34;
  transition: transform 0.3s ease;
}

.ag-courses_item:hover {
  transform: translateY(-20px); /* Efecto de elevación al pasar el ratón */
}

.ag-courses-item_link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 15px;
}

.ag-courses-item_bg {
  background-color: #f4f4f4;
  height: 150px;
  border-radius: 8px 8px 0 0;
}

.ag-courses-item_title {
  margin: 20px 0;
}

.card-title {
  font-size: 2em;
  margin: 0;
  color: rgb(10, 252, 14);
}

.imgProject-container {
  text-align: center;
  margin: 20px 0;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ag-courses-item_date-box {
  margin-top: 20px;
}

.card-description {
  font-size: 1em;
  color: #666;
}

.ag-courses-item_date {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #999;
}
